#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #eee;
    font-weight: bold;
}

.form_nav > li {
    display: inline;
    margin-left: 0;
    padding: 0;
    border: 1px dotted rgb(200, 200, 200);
    background-color: rgb(239, 239, 239);
}

.form_nav > li > a {
    font-size: 12px;
    padding: 5px;
}

.form_nav {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

.fixed_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10001;
    background-color: white;
    border-bottom: 1px solid rgb(204, 204, 204);
}

#content {
    margin-top: 90px;
}
#content-related {
    float: right;
    width: 22em;
    position: relative;
    margin-right: -23em;
}
.change-form #content {
    margin: 140px 10px;
}
.change-list #content {
    margin: 90px 10px;
}
.dashboard #content {
    margin: 80px 10px;
}
.login #content {
    margin: 15px 10px;
}
.login .fixed_header {
    position: relative;
}
.anchor {
    display: block; 
    position: relative;
    top: -90px;
    visibility: hidden;
}

.submit-row-fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10001;
    background-color: white;
/*    border-bottom: 1px solid rgb(204, 204, 204); */
}
#changelist table {
    white-space: nowrap;
    width: 100%;
}

#changelist-filter a {
    /*display: block;*/
    color: #999;
}

.change-list .filtered .results, .change-list .filtered .paginator,
.filtered #toolbar, .filtered div.xfull {
    margin-right: 280px;
    width: auto;
}