{% extends "applications/base.html" %}
{% load i18n admin_static %}
{% load base_site %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% if not application.finalised %}
<link rel="stylesheet" type="text/css" href="{% static "jquery-ui/css/redmond/jquery-ui-1.8.21.custom.css" %}" />
<script src="{% static "jquery-ui/js/jquery-1.7.2.min.js" %}"></script>
<script src="{% static "jquery-ui/js/jquery-ui-1.8.21.custom.min.js" %}"></script>
<style>
  #wrap { width:640px; }
  #right-col { float:left; padding:5px;}
  #left-col { float:left; padding:5px; }
  #ul-sort-clone { list-style-type: none;}
  #sortable span { float:right; }
  .choice-num { margin:5px; padding: 5px; height:25px; width:50px;}
  .choice { margin:5px; padding: 5px; height:25px; width:200px;}
</style>
<script>
  var action;
  $(function() {
    $("#sortable").sortable();
  });
  function getSelected() {
    return $.makeArray(
      $(".sort-sel")
        .sortable("toArray")
        .filter(function(index) { 
           return this.selectedIndex !== 0 
        })
        .map(function(index) { 
           return $(this).val();
        })
    );
  }
  $(function() {
    $("#bsubmit")
      .click(function() {
        action = 'submit';
        $("#emp-choices").val(getSelected().join(";")); 
        $("#emp-action").val("submit"); 
        $("#edit-form").submit();
    });
    $("#bsave")
      .click(function() {
        action = 'save';
        $("#emp-choices").val(getSelected().join(";")); 
        $("#emp-action").val("save"); 
        $("#edit-form").submit();
    });
    $("#edit-form")
      .submit(function() {
        var arr = getSelected();
        var copy = arr.slice();
        if (arr.length !== $.unique(copy).length) {
          alert('Κάποια επιλογή εμφανίζεται παραπάνω από μία φορές.');
          return false;
        }
        if(arr.length === 0) {
          if(action == 'submit'){
              if($('#id_move_primary').attr('checked')) {
                var answer = confirm('Δεν έχετε κάνει καμία επιλογή σχολείου, είστε σίγουροι ότι θέλετε να οριστικοποιήσετε;');
                  if(answer) {
                    return true;
                  } else {
                    return false;
                  }
              } else {
                alert('Δεν έχετε επιλέξει κάποιο σχολείο.');
                return false;
             }
           }
         }
    });
  });  
</script>
{% endif %}
{% endblock %}
{% block title %}
Δ.Δ.Ε. {% get_setting 'dide_place'  %}
{% endblock %}
{% block messages %}
<ul class="messagelist">
{% if not application.finalised %}
<li class="error">Προσοχή, η αίτησή σας δεν έχει οριστικοποιηθεί!</li>
{% else %}
<li class="info">Η αίτησή σας έχει οριστικοποιηθεί. Παρακαλούμε να στείλετε το αποδεικτικό με email στο 
{% get_setting 'email_staff' %}.</li>
{% endif %}
</ul>
{% endblock %}

{% block content %}
<div id="content-main">
  <h1>{{ application.set.title }} </h1>
    <form action="{{ app_path }}" method="post" id="edit-form">{% csrf_token %}
      <input type="hidden" id="emp-choices" name="emp-choices" />
      <input type="hidden" id="emp-action" name="emp-action" />
      <fieldset class="module aligned">
        <h2>Στοιχεία εκπαιδευτικού</h2>
        <div class="form-row field-lastname">
          <div> 
            <label>Επώνυμο : </label>
            <p>{{ emp.lastname  }}</p>
          </div>
        </div>
        <div class="form-row field-firstname">
          <div>
            <label>Όνομα : </label>
            <p>{{ emp.firstname  }}</p>
          </div>
      </div>
      <div class="form-row field-fathername">
        <div>
          <label>Πατρώνυμο : </label>
            <p>{{ emp.fathername  }}</p>
        </div>
      </div>
      <div class="form-row field-profession">
        <div>
          <label>Ειδικότητα : </label>
          <p>{{ emp.profession  }}</p>
        </div>
      </div>
      <div class="form-row field-registration_number">
        <div>
          <label>Αριθμός Μητρώου : </label>
          <p>{{ emp.registration_number  }}</p>
        </div>
      </div>
      <div class="form-row field-transfer_area">
        <div>
          <label>Περιοχή Μετάθεσης : </label>
          <p>{{ emp.transfer_area  }}</p>
        </div>
      </div>
      <h2>Στοιχεία Αίτησης</h2>
      {% if not application.finalised %}
          {% for field in form %}
            <div class="form-row field-{{ field.html_name }}">
              <div>
                {{ field.errors }}
                <label for="id_{{ field.html_name }}" {% if field.field.required %}class="required"{% endif %}>{{field.label}}</label>
                {{ field  }}
              </div>
           </div>
         {% endfor %}
      {% else %}
         {% for field in form %}
           {% if field.value %}
              <div class="form-row field-{{ field.html_name }}">
                <div>
                  {{ field.label_tag }} 
                  {{ field.value }}
              </div>
           </div>
          {% endif %}
         {% endfor %}
      {% endif %}
      <h2>Επιλογή Σχολείων</h2>
      <div>
        <div id="wrap">
        {% if not application.finalised %}
          <div id="left-col">
            <div>
            {% for i in options %}
              <div class="choice-num ui-state-default">{{ forloop.counter }}</div>
            {% endfor %}
            </div>
          </div>
          <div id="right-col">
            <div id="sortable">
            {% for select in options %}
              <div>
                <div class="choice ui-state-default">
                  <select name="school-{{ forloop.counter }}" class="sort-sel">
                    <option value="0"> Καμία </option>
                    {% for option in select %}
                    <option value="{{ option.id }}"{% if option.selected %} selected="selected" {% endif %}>
                      {{ option.name }}
                    </option>
                    {% endfor %}
                  </select>
                  <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                </div>
              </div>
              {% endfor %}
            </div> <!--sortable-->
          </div> <!--rightcol-->
        {% else %}
        {% for s in choices_schools %}
        <div class="form-row ">
          <div>
          <label>{{ forloop.counter }}. </label>
          <p>{{ s.1 }} </p>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        </div> <!--wrap-->
      </div>
      <br clear="both" />
      <div class="submit-row" style="text-align: center">
        <input type="button" id="logout" value="Έξοδος" onclick="javascript:document.location.href=document.location.href+'?logout' "/>
        {% if not application.finalised %}
        <input type="reset" value="Καθαρισμός" />
        <input type="button" id="bsave" value="Αποθήκευση" />
        <input type="button" id="bsubmit" value="Οριστικοποίηση" />
        {% else %}
        <input type="button" id="bprint" value="Δημιουργία Αποδεικτικού" onclick="javascript:document.location.href=document.location.href.split('?')[0]+'?print=1' "/>
        {% endif %}
      </div>
    </fieldset>  
  </form>
</div>
{% endblock %}
