{% extends "admin/base_site.html" %}
{% comment %}
Επεκτείνει το επόμενο admin/base_site.html στη σειρά των loaders: του
django-admin-interface όταν είναι εγκατεστημένο, αλλιώς του Django, ώστε το
θέμα να εφαρμόζεται κανονικά. Παλιότερα εδώ υπήρχε αντίγραφο του Django 1.x
μαζί με ένα δικό μας admin/base.html, που έκοβαν τον δρόμο στο θέμα και
στερούσαν από τη σελίδα ό,τι πρόσθεσε το admin από το Django 2 και μετά
(πλαϊνή πλοήγηση, εναλλαγή φωτεινού/σκοτεινού, προσβασιμότητα).
{% endcomment %}
{% load i18n static base_site %}

{% block branding %}
  {# Χωρίς block.super: το θέμα τυπώνει ήδη δικό του τίτλο και θα διπλασιαζόταν. #}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">Δ.Δ.Ε. {% get_setting 'dide_place' %}</a></h1>
{% endblock %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dide-admin.css' %}">
{% endblock %}

{% block footer %}
  {% include "includes/dide_footer.html" %}
{% endblock %}
