{% extends "copies/admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}
{% load custom_admin %}
{% block filters %}
  {% if cl.has_filters %}
   <div id="changelist-filter">
     <h2>Φίλτρα</h2>
      <div>
        <ul><a href="{{ cl.request.path  }}">Καθαρισμός Όλων</a>
        <a href="{{ cl.request.path  }}filters/" onclick="return focusOrOpen(this, 'Φίλτρα', {'width': 700, 'height': 550});">Αναλυτικά</a></ul>
      {% for spec in cl.filter_specs %}
        {% if spec.list_view %}
          {% if spec|is_free_date_filter %}
            {% free_date_filter cl spec %}
          {% else %}
            {% admin_list_filter cl spec %}
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
