{% load i18n %} 
<h2>
  {% blocktrans with title as filter_title %} {{ filter_title }} {% endblocktrans %}
</h2>
  {% if modifiers %}

  {% for modifier in modifiers %}    
      <a{% if modifier.selected %} class="selected"{% endif %} href="{{ modifier.query_string }}">{{ modifier.display }}</a>
    
  {% endfor %}

{% endif %}
<ul>
{% for choice in choices %}
    <li{% if choice.selected %} class="selected"{% endif %}>
    <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
{% endfor %}
</ul>
