{% extends "copies/admin/index.html" %}
{% load i18n admin_static %}
{% block content %}
    <div id="content-main">
        <div class="module">
        <table style="width: 100%; ">
        <caption style="font-size: 12px;">
            {% trans 'Search' %}
        </caption>
            <tr><form id="search-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                <th scope="row"><input type="text" style="width: 500px; margin-right: 3px;" name="q" value="" placeholder="{% trans 'Search' %}..." id="searchbar"><input type="submit" id="_search" value="{% trans 'Search' %}"></th></form>
            </tr>
        </table>
        </div>

    {{block.super}}
    </div>
{% endblock %}

{% block sidebar %}
{{block.super}}

<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Πληροφορίες</h2>
	    <h3><b>Αλλαγές 28/12/2023:</b></h3>
            <p>Αλλαγές στις άδειες. Καλύτερη υποστήριξη όλων των τύπων υπαλλήλων</p>
            <p></p>
            <h3><b>Αλλαγές 13/11/2023:</b></h3>
            <p>Νέο πεδίο "Δεύτερη Ειδικότητα". Υποστήριξη νέων ταυτοτήτων (9 ψηφία)</p>
            <p></p>	
	    <h3><b>Αλλαγές 21/08/2023:</b></h3>
            <p>Εισαγωγή στοιχείων 395 μονίμων. (Μαζικά)</p>
	    <p></p>
	    <h3><b>Αλλαγές 29/06/2023:</b></h3>
            <p>Ενημέρωση στοιχείων μονίμων. (Μαζικά) 
	    Ενημέρωση πεδίων προϋπηρεσίας</p>
    </div>
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
    <div class="module" id="recent-actions-module">
    <h2>Στατιστικά  {{ yf }}-{{ yt }}</h2>
        <h3>{{ total_permanent }} Μόνιμοι εκπαιδευτικοί</h3>
        <h3>{{ total_nonpermanent }} Αναπληρωτές εκπαιδευτικοί</h3>
        <h3><hr></h3>
        <h3>{{ total_private }} Ιδιωτικοί εκπαιδευτικοί</h3>
        <h3>{{ total_administrative }} Διοικητικοί υπάλληλοι</h3>
    </div>
    {% if is_super %}
        <div class="module" id="recent-actions-module">
        <h2>Στοιχεία εγγραφών</h2>
            <h3>{{ photo_total }} με φωτογραφίες</h3>
            <h3>{{ today_mod_total }} ενημερώθηκαν σήμερα</h3>
            <h3><hr></h3>
            <h3>{{ total_dbl }} διπλές εγγραφές μονίμων/αναπληρωτών</h3>
        </div>

    {% endif %}
    </div>
{% endblock %}
{% block footer %}
<div class="fixed_footer">
      <div id="footer" class="" style="position: relative; bottom: 0;">
	<p class="tiny">Κατασκευή 2012 - 2016 Στάθης Στέργου, 2012 - 2022 Βασίλης Κασαπίδης - {{ django_version }}</p>
      </div>
    </div>
{% endblock %}
