{% extends "copies/admin/index.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
<style type="text/css">
/* Εικονίδια για τις κατηγορίες προσωπικού που εμφανίζονται πρώτες. */
.model-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    vertical-align: -2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
}
.icon-permanent {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='%23417690' d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1.5c-2.9 0-5.5 1.4-5.5 3.2V14h11v-1.3c0-1.8-2.6-3.2-5.5-3.2z'/></svg>");
}
.icon-nonpermanent {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='%23b8860b' d='M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zm0 12.6A5.6 5.6 0 1 1 8 2.4a5.6 5.6 0 0 1 0 11.2zM8.8 4.6H7.2v4.1l3.3 2 .8-1.3-2.5-1.5z'/></svg>");
}
.icon-administrative {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='%236a7a2f' d='M6.2 1.8h3.6c.7 0 1.2.5 1.2 1.2v1.2h3c.7 0 1.2.5 1.2 1.2v7c0 .7-.5 1.2-1.2 1.2H2c-.7 0-1.2-.5-1.2-1.2v-7c0-.7.5-1.2 1.2-1.2h3V3c0-.7.5-1.2 1.2-1.2zm.4 2.4h2.8V3.2H6.6z'/></svg>");
}
tr.featured-model th a { font-weight: bold; }
tr.featured-model th, tr.featured-model td { background: #f7f9f6; }
</style>
{% endblock %}

{% block content %}
    <div id="content-main">
        <div class="module">
        <table style="width: 100%; ">
        <caption style="font-size: 12px;">
            {% trans 'Search' %}
        </caption>
            <tr><form id="search-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                <th scope="row"><input type="text" style="width: 500px; margin-right: 3px;" name="q" value="" placeholder="{% trans 'Search' %}..." id="searchbar"><input type="submit" id="_search" value="{% trans 'Search' %}"></th></form>
            </tr>
        </table>
        </div>

    {{block.super}}
    </div>
{% endblock %}

{% block sidebar %}
{{block.super}}

<div id="content-related">
    <div class="module" id="recent-actions-module">
      <h2>Πληροφορίες</h2>
            <h3><b>Αλλαγές 09/09/2025:</b></h3>
            <p>Σύστημα μαζικής εισαγωγής μονίμων. </p>
            <p></p>
            <h3><b>Αλλαγές 06/09/2024:</b></h3>
            <p>Μαζική εισαγωγή  217 μονίμων. </p>
            <p></p>
            <h3><b>Αλλαγές 01/09/2024:</b></h3>
            <p>Μαζική εισαγωγή μονίμων. Προσθήκη ωραρίου ΕΕΠ</p>
            <p></p>
	    <h3><b>Αλλαγές 28/12/2023:</b></h3>
            <p>Αλλαγές στις άδειες. Καλύτερη υποστήριξη όλων των τύπων υπαλλήλων</p>
            <p></p>
            <h3><b>Αλλαγές 13/11/2023:</b></h3>
            <p>Νέο πεδίο "Δεύτερη Ειδικότητα". Υποστήριξη νέων ταυτοτήτων (9 ψηφία)</p>
            <p></p>	
	    <h3><b>Αλλαγές 21/08/2023:</b></h3>
            <p>Εισαγωγή στοιχείων 395 μονίμων. (Μαζικά)</p>
	    <p></p>
	    <h3><b>Αλλαγές 29/06/2023:</b></h3>
            <p>Ενημέρωση στοιχείων μονίμων. (Μαζικά) 
	    Ενημέρωση πεδίων προϋπηρεσίας</p>
    </div>
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
    <div class="module" id="recent-actions-module">
    <h2>Στατιστικά  {{ yf }}-{{ yt }}</h2>
        <h3>{{ total_permanent }} Μόνιμοι εκπαιδευτικοί</h3>
        <h3>{{ total_nonpermanent }} Αναπληρωτές εκπαιδευτικοί</h3>
        <h3><hr></h3>
        <h3>{{ total_private }} Ιδιωτικοί εκπαιδευτικοί</h3>
        <h3>{{ total_administrative }} Διοικητικοί υπάλληλοι</h3>
    </div>
    {% if is_super %}
        <div class="module" id="recent-actions-module">
        <h2>Στοιχεία εγγραφών</h2>
            <h3>{{ photo_total }} με φωτογραφίες</h3>
            <h3>{{ today_mod_total }} ενημερώθηκαν σήμερα</h3>
            <h3><hr></h3>
            <h3><a href="/admin/dide/duplicates/">{{ total_dbl }} διπλές εγγραφές μονίμων/αναπληρωτών</a></h3>
        </div>

    {% endif %}
    </div>
{% endblock %}
{% block footer %}
<div class="fixed_footer">
      <div id="footer" class="" style="position: relative; bottom: 0;">
	<p class="tiny">Κατασκευή 2012 - 2016 Στάθης Στέργου, 2012 - 2022 Βασίλης Κασαπίδης - {{ django_version }}</p>
      </div>
    </div>
{% endblock %}
