{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}
{% block extrahead %}
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>


{% endblock %}
{% block extrastyle %}
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #container, #content, #content-main {
        height: 100%;

      }
      #map { height: 97.5%; }

      #legend {  
        width: 100%;
        padding: 5px 0 5px 0;

        margin-top: 10px;
        margin-bottom: 10px;      
      }
      #border_map { width: 100%; height: 100%; border: solid 1px; color: #ccc;}
    </style>
{% endblock %}

{% block coltype %}flex{% endblock %}
{% block content %}
  <div id="content-main">
    {% block object-tools %}
    {% endblock %}
    <div id="legend">
      <h3>Γεωγραφική απεικόνιση συγκέντρωσης εκπαιδευτικών περιόδου {{ yf }} - {{ yt }}</h3>
      <p><span style="color:blue;">Μπλε περιοχή : Μόνιμοι καθηγητές</span>
       - <span style="color:red;">Κόκκινη περιοχή : Αναπληρωτές καθηγητές</span></p>
    </div>
    <div id="border_map">
      <div style="margin: 10px;" id="map"></div>
    </div>
    <br />
    <div class="footer"></div>
    <div><p><a href="/admin">Επιστροφή</a></p></div>
    </div>
  </div>
<script>

// Where you want to render the map.
var element = document.getElementById('map');

// Height has to be set. You can do this in CSS too.
//element.style = 'height:100%;';

// Create Leaflet map on map element.
var map = L.map(element);

// Add OSM tile leayer to the Leaflet map.
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// Target's GPS coordinates.
var center = L.latLng('{{ om_x }}', '{{ om_y }}');

map.setView(center, {{ om_zoom }});

// Place a marker on the same location.
{% for item in schools %}
var p{{ forloop.counter }} = L.latLng('{{ item.y }}', '{{ item.x }}');
var np{{ forloop.counter }} = L.latLng('{{ item.y }}', '{{ item.x }}');
{% if item.pop_p != 0 %}
  L.circle(p{{ forloop.counter }}, {radius: {{ item.pop_p }}, color: 'blue', weight:1, stroke:true}).bindTooltip('{{ item.title }}').addTo(map);
{% endif %}
{% if item.pop_np != 0 %}
  L.circle(np{{ forloop.counter }}, {radius: {{ item.pop_np }}, color: 'red', weight:1, stroke:true}).bindTooltip('{{ item.title }}').addTo(map);
{% endif %}
{% endfor %}
  
</script>
{% endblock %}


