{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load url from future %}
{% load admin_urls %}
{% block extrastyle %}
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #map, #container, #content, #content-main {
        height: 100%;
      }
      #legend {  
        width: 100%;
        padding: 5px 0 5px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin-top: 10px;
        margin-bottom: 10px;      
      }
    </style>
{% endblock %}

{% block coltype %}flex{% endblock %}
{% block content %}
  <div id="content-main">
    {% block object-tools %}
    {% endblock %}
    <div id="legend">
      <p>Μπλε περιοχή : Μόνιμοι καθηγητές</p>
      <p>Κόκκινη περιοχή : Αναπληρωτές καθηγητές</p>
    </div>
    <div id="map"></div>
    <script>

      var schoolmap = {
      {% for item in schools %}
        {{ item.id }}: {
          unitname: '{{ item.title }}',
          center: {lat: {{ item.y }}, lng: {{ item.x }} },
          population: {{ item.pop }},
          population_np: {{ item.pop_np }}
        },
      {% endfor %}


      };

      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: {{ google_zoom }},
          center: { lat: {{ google_x }}, lng: {{ google_y }} },
          mapTypeId: 'roadmap'
        });

        // Construct the circle for each value in schoolmap.
        // Note: We scale the area of the circle based on the population.

        for (var sch in schoolmap) {
          // Add the circle for this school to the map.

          var schCircle = new google.maps.Circle({
            strokeColor: '#0000FF',
            strokeOpacity: 0.7,
            strokeWeight: 2,
            fillColor: '#0000FF',
            fillOpacity: 0.10,
            map: map,
            center: schoolmap[sch].center,
            title: schoolmap[sch].unitname,
            radius: Math.sqrt(schoolmap[sch].population * 50) * 50
          });

          // Add the circle for this school to the map.

          var schCircleNP = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.7,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.10,
            map: map,
            center: schoolmap[sch].center,
            title: schoolmap[sch].unitname,
            radius: Math.sqrt(schoolmap[sch].population_np * 50) * 50
          });

        //circle is the google.maps.Circle-instance

        google.maps.event.addListener(schCircle,'mouseover',function(){
        this.getMap().getDiv().setAttribute('title',this.get('title'));});

        google.maps.event.addListener(schCircle,'mouseout',function(){
        this.getMap().getDiv().removeAttribute('title');});

        google.maps.event.addListener(schCircleNP,'mouseover',function(){
        this.getMap().getDiv().setAttribute('title',this.get('title'));});

        google.maps.event.addListener(schCircleNP,'mouseout',function(){
        this.getMap().getDiv().removeAttribute('title');});

        }
      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&callback=initMap"></script>

  </div>

{% endblock %}


