{% extends "help/base.html" %}
{% load i18n admin_static %}
{% load base_site %}

{% block content %}
<div id="content">
        <h3>1. Το πληρωτέο που βλέπω στο σύστημα στη στήλη δεξιά δεν είναι το ίδιο με το Φορολογητέο Ποσό στην βεβαίωση.</h3>
	<p>Το  Φορολογητέο Ποσό περιλαμβάνει και τον φόρο που έχει ήδη παρακρατηθεί. </p>
	<h3>2. Στο Είδος Αποδοχών ή Συντάξεων αναφέρονται διάφορες αμοιβές επιπλέον της κανονικής μισθοδοσίας, χωρίς να γνωρίζω λεπτομέρειες για αυτές τις αμοιβές.</h3>
	<p>Ανατρέξτε στο σύστημα και θα δείτε στην λίστα Αποδοχές τις εγγραφές “Λοιπών Αμοιβών ...”. Εκεί κάθε μια περιγράφει αναλυτικά το είδος της αφού κάνετε κλικ πάνω της.</p>
	<h3>3. Ποιες γραμμές της βεβαίωσης έχουν τα ποσά που θα δηλώσω στην εφορία;</h3>
	<p>Για το μεγαλύτερο ποσοστό των εργαζομένων είναι τα συνολικά ποσά της βεβαίωσης (Η γραμμή Σύνολα).</p> 
	<p><a href="javascript:close();">Κλείσιμο παραθύρου</a></p>
</div>
{% endblock %}
