{% extends "salary/base.html" %}
{% load i18n admin_static %}
{% load base_site %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<script src="{% static "jquery-ui/js/jquery-1.7.2.min.js" %}"></script>
<script>
$(function() {
    $("#totalreports")
      .change(function() {
        $("#emp-action").val($(this).val()); 
        $("#edit-form").submit();
    });
});
</script>
<style>
#map {
  width: 100%;
  height: 300px;
}

label {
  width: 220px!important;
}
.photoimg {
  width: 100px;
  height: 133px;

}

.photo {
  float: left;
  margin: 5px; 
  width: 100px;
  height: 133px;
  border: 1px solid #ddd;
}

.detals {
  float: left; 
  width: calc(100%-112px);
}
.photo_padding {
  padding-left: 0px!important;
}

@media only screen
  and (max-width: 800px) {

#id_address {
  width: 200px;
}
#photo_link {
  display: none;
}
label {
  width: 8em!important;
}
.photoimg {
  width: 100px;
  height: 133px;
}
.photo {
  text-align: center;
  /*float: left;
  margin: 5px; */
  width: 100%;
  height: 133px;
  border: 0px solid #ddd;*/
}
.detals {
  width: 100%;
  /*float: left;
  width: calc(100%-112px); */
}
.photo_padding {
  padding-left: 10px!important;
}
    }
</style>
{% endblock %}
{% block title %}
Δ.Δ.Ε. {% get_setting 'dide_place'  %}
{% endblock %}


{% block content %}
<div id="content-main">
    <form action="{{ app_path }}" method="post" id="edit-form">{% csrf_token %}
      <input type="hidden" id="emp-action" name="emp-action" value="0" />
      <fieldset class="module aligned">
        

        <div class="photo">

        {% if emp.photo %}
          <img class="photoimg" id="photo" src="/myinfo/edit/photo/{{ emp.id }}/">
        {% else %}    
          {% if emp.sex == "Άνδρας" %}
            <img class="photoimg" id="photo" src="{% static "img/male_user-4x3.png" %}">
          {% elif  emp.sex == "Γυναίκα" %}
            <img class="photoimg" id="photo" src="{% static "img/female_user-4x3.png" %}">
          {% endif %}
        {% endif %}
        </div>

        <div class="details">
          <div><h3 style="font-size:18px;">{{ emp.lastname  }} {{ emp.firstname  }}</h3></div>          
          <div class="form-row field-profession photo_padding">
            <div>
              
              <h4>{{ emp.profession  }} - {{ emp.profession_description  }}</h4>
            </div>
          </div>
          <div class="form-row field-profession photo_padding" style="border: 0px!important;">
            </div>
          
        </div>
        <div style="clear:both;">

	{% if emp.registration_number %}
	<div class="form-row field-registration_number">
        <div>
          <label style="width:220px;">Αριθμός Μητρώου : </label>
          <p>{{ emp.registration_number  }}</p>
        </div>
      </div>
	{% endif %}
	{% if emp.vat_number and not emp.registration_number %}
	<div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Α.Φ.Μ. : </label>
          <p>{{ emp.vat_number  }}</p>
        </div>
      </div>
	{% endif %}

        {% if emp.ranknew and emp.salary != "Χωρίς" %}
        <div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Νέος Βαθμός - Κλιμάκιο : </label>
          <p>{{ emp.ranknew  }} (από {{ emp.ranknew_date  }}) </p>
        </div>
      </div>
        {% endif %}

	{% if emp.rank %}
	<div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Παλιός Βαθμός - Κλιμάκιο : </label>
          <p>{{ emp.rank  }} (από {{ emp.rank_date  }}) </p>
        </div>
      </div>
	{% endif %}
 	<div id="main-list-div">
 	  <div id="left-list-div"></div>
 	  <div id="right-list-div">
	    {% if emp.show_mass_pay %}
 		<select id="totalreports" style="font-size: 11px; font-family: 'Lucida Grande΄', Verdana, Arial, sans-serif;">
        	<option value="0" selected="">Έκδοση συγκεντρωτικής...</option>
      		{% for opt in yearly_reports %}
      		<option value="{{opt}}">Μισθοδοτικής κατάστασης {{opt}}</option>
      		{% endfor %}
      		</select>
	    {% endif %}
  	  </div>
  	</div>
      {% if payments %}
        <div style="height: 400px;">
            <table summary="Αποδοχές" style="width:100%">
              <tbody>
                <tr>
                  <th>Περιγραφή </th>
                  <th>Βαθμός - Κλιμάκιο</th>
                  <th style="text-align: right;">Αποδοχές</th>
				</tr>
                {% for p in payments %}
                  <tr>
                    <td scope="row"><a href="?print=1&id={{ p.id }} "> {{ p.type }} {{ p.year }}</a></td>
                    <td>{% if p.rank %} {{ p.rank }} {% else %} Δ/Υ {% endif %}</td>
                    <td style="text-align: right; padding-right: 5px;">
					{% if p.netab_amount == 0 %}
						{{ p.calc_amount }} €
					{% else %}
						{{ p.netab_amount|floatformat:2 }} €
					{% endif %}
					</td>
			      </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
      {% else %}
        <div style="height: 400px;" class="form-row"><p>Δεν έχουν καταχωρηθεί καταστάσεις πληρωμών.</p></div>
      {% endif %}
	  
    </fieldset>
  </form>
</div>
{% endblock %}
{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
	{% if emp.show_mass_pay %}

        <h2>Βοήθεια Έκδοσης Μισθοδοτικών Καταστάσεων</h2>
	<p>Οι μισθοδοτικές καταστάσεις ή αλλιώς βεβαιώσεις αποδοχών, είναι διαθέσιμες μόνο ηλεκτρονικά για το μεγαλύτερο ποσοστό των εργαζομένων στην ΔΔΕ. Σε περίπτωση που εμφανίζεται κάποιο λάθος στην βεβαίωση σας παρακαλούμε επικοινωνήστε με την υπηρεσία, αφού πρώτα συμβουλευθείτε τις συχνές ερωτήσεις στην παρακάτω διεύθυνση: </p>
	<p>
	<a href="#" onclick="window.open('/salary/help','helpWindow', 'height=350,width=980,scrollbars=yes');">Συχνές ερωτήσεις</a>
	</p>
	
	{% endif %}
      <h2>Ετήσια σύνολα</h2>
	<p>Σύνολα καταχωρημένων πληρωτέων αμοιβών ανά έτος (συμπεριλαμβανομένων και των εκτάκτων αποδοχών)</p>
	    <table style="width:100%">
                {% for k, t in total_per_year %}
		<tr>
		 <td><h4>Έτος {{ k }}:</h4></td>
		 <td style="text-align: right;"><h4>{{ t }} €</h4></td>
                </tr>
		{% endfor %}
	    </table>
	{% if paypdf_month %}
      <h2>Πληρωμές ΕΣΠΑ και ΠΔΕ</h2>
	<p>Οι πληρωμές αναπληρωτών ΕΣΠΑ και ΠΔΕ εμφανίζονται παρακάτω και δεν περιλαμβάνονται στα ετήσια σύνολα.</p>
	        {% for t in paypdf_month %}
		<p><a href="/salary/view/showpdf/?f={{ t.employeefile }}&o=p">{{ t.paymentfilepdf }}</a></p>
		{% endfor %}
	    
	{% endif %}
	{% if paypdf_year %}

      <h2>Ετήσιες βεβαιώσεις αποδοχών ΕΣΠΑ και ΠΔΕ</h2>
	<p>Ετήσιες βεβαιώσεις αποδοχών ΕΣΠΑ και ΠΔΕ. <br />Σε ορισμένες περιπτώσεις εμφανίζονται περισσότερες από μια βεβαιώσεις ανά έτος και πρόγραμμα αλλά αποτελούν το ίδιο στοιχείο. Σε αυτήν την περίπτωση κατεβάζουμε μόνο μια. <br />
	
	</p>
	        {% for t in paypdf_year %}
		<p><a href="/salary/view/showpdf/?f={{ t.employeefile }}&o=l">{{ t.paymentfilepdf }}</a></p>
		{% endfor %}
	    
	{% endif %}


    </div>
</div>
{% endblock %}

