{% extends "salary/base.html" %}
{% load i18n admin_static %}
{% load base_site %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}
{% block title %}
Δ.Δ.Ε. {% get_setting 'dide_place'  %}
{% endblock %}


{% block content %}
<div id="content-main">
  <h1>Σύστημα Μισθοδοσίας</h1>
    <form action="{{ app_path }}" method="post" id="edit-form">{% csrf_token %}
      <input type="hidden" id="emp-choices" name="emp-choices" />
      <input type="hidden" id="emp-action" name="emp-action" />
      <fieldset class="module aligned">
        <h2>Στοιχεία εκπαιδευτικού</h2>
        <div class="form-row field-lastname">
          <div>
            <label style="width:220px;">Επώνυμο : </label>
            <p>{{ emp.lastname  }}</p>
          </div>
        </div>
        <div class="form-row field-firstname">
          <div>
            <label style="width:220px;">Όνομα : </label>
            <p>{{ emp.firstname  }}</p>
          </div>
      </div>
      <div class="form-row field-fathername">
        <div>
          <label style="width:220px;">Πατρώνυμο : </label>
            <p>{{ emp.fathername  }}</p>
        </div>
      </div>
      <div class="form-row field-profession">
        <div>
          <label style="width:220px;">Ειδικότητα : </label>
          <p>{{ emp.profession  }}</p>
        </div>
      </div>
	{% if emp.registration_number %}
	<div class="form-row field-registration_number">
        <div>
          <label style="width:220px;">Αριθμός Μητρώου : </label>
          <p>{{ emp.registration_number  }}</p>
        </div>
      </div>
	{% endif %}
	{% if emp.vat_number and not emp.registration_number %}
	<div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Α.Φ.Μ.: </label>
          <p>{{ emp.vat_number  }}</p>
        </div>
      </div>
	{% endif %}
	{% if emp.rank %}
	<div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Βαθμός - Κλιμάκιο: </label>
          <p>{{ emp.rank  }} (από {{ emp.rank_date  }}) </p>
        </div>
      </div>
	{% endif %}
 	<h2>Αποδοχές</h2>
      {% if payments %}
        <div>
            <table summary="Αποδοχές" style="width:100%">
              <tbody>
                <tr>
                  <th>Περιγραφή </th>
                  <th>Βαθμός - Κλιμάκιο</th>
                  <th>Αποδοχές</th>
				</tr>
                {% for p in payments %}
                  <tr>
                    <td scope="row"><a href="?print=1&id={{ p.id }} "> {{ p.type }} {{ p.year }}</a></td>
                    <td>{% if p.rank %} {{ p.rank }} {% else %} Δ/Υ {% endif %}</td>
                    <td>
					{% if p.amount_total == 0 %}
						{{ p.find_amount }} €
					{% else %}
						{{ p.amount_total }} €
					{% endif %}
					</td>
			      </tr>
                {% endfor %}
              </tbody>
            </table>

      </div>
      {% else %}
        <div class="form-row"><p>Δεν έχουν καταχωρηθεί καταστάσεις πληρωμών.</p></div>
      {% endif %}
      <br clear="both" />
	  <div class="submit-row">
      <div class="pagination" style="text-align: left; float: left; width: 350px;">
    <span class="step-links">
        {% if payments.has_previous %}
            <a href="?page={{ payments.previous_page_number }}">Προηγούμενη</a>
        {% endif %}

        <span class="current">
            Σελίδα {{ payments.number }} από {{ payments.paginator.num_pages }}
        </span>

        {% if payments.has_next %}
            <a href="?page={{ payments.next_page_number }}">Επόμενη</a>
        {% endif %}
    </span>
	</div>
    <div style="text-align: right; float: right; margin-left: 200px;">
      <!--<input type="button" id="logout" value="Έξοδος" onclick="javascript:document.location.href='?logout' "/>-->
      <a id="logout" href="javascript:document.location.href='?logout'">Έξοδος από τη Μισθοδοσία</a> 
      </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
