{% extends "myinfo/base.html" %}
{% load i18n admin_static %}
{% load base_site %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/chosen.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{{ block.super }}

{% endblock %}
{% block title %}
Δ.Δ.Ε. {% get_setting 'dide_place'  %}
{% endblock %}
    {% block messages %}
{% if messages %}
 
       <ul class="messagelist">{% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message}}</li>{% endfor %}</ul>
  
    {% endif %}
    {% endblock  %}
{% block content %}
<div id="content-main">
    <form action="{{ app_path }}" method="post" id="edit-form">{% csrf_token %}
      <fieldset class="module aligned">
        <h2>Στοιχεία Καρτέλας</h2>
      <div class="form-row field-fathername">
        <div>
          <label style="width:220px;">Πατρώνυμο : </label>
            <p>{{ emp.fathername  }}</p>
        </div>
      </div>
      <div class="form-row field-profession">
        <div>
          <label style="width:220px;">Ειδικότητα : </label>
          <p>{{ emp.profession  }} - {{ emp.profession_description  }}</p>
        </div>
      </div>
	{% if emp.registration_number %}
	<div class="form-row field-registration_number">
        <div>
          <label style="width:220px;">Αριθμός Μητρώου : </label>
          <p>{{ emp.registration_number  }}</p>
        </div>
      </div>
	{% endif %}
	{% if emp.vat_number %}
	<div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Α.Φ.Μ. & Αρ. Δελτίου Ταυτότητας : </label>
          <p>{{ emp.vat_number  }} - {{ emp.identity_number }}</p>
        </div>
      </div>
	{% endif %}

	{% if emp.date_hired %}
	<div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Ημερομηνία και ΦΕΚ διορισμού: </label>
          <p>{{ emp.date_hired }} - {{ emp.order_hired }}</p>
        </div>
      </div>
	{% endif %}
	{% if emp.total_service %}
	<div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Συνολική υπηρεσία : </label>
          <p>{{ emp.total_service }}{% if teaching_exp %} - {{ teaching_exp }} διδακτική προϋπηρεσία{% endif %}</p>
        </div>
      </div>
	{% endif %}
	{% if emp.hours %}
	<div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Ωράριο (Μετά το ΠΔ του 2013) : </label>
          <p>{{ emp.hours }} ώρες</p>
        </div>
      </div>
	{% endif %}
	{% if emp.hours_next %}
	<div class="form-row field-rank">
        <div>
          <label style = "width:220px;">Επόμενη αλλαγή ωραρίου σε : </label>
          <p>{{ emp.hours_next }}</p>
        </div>
      </div>
	{% endif %}
  <div class="form-row">
    <div style="font-weight: bold;">Σημείωση:</div>
    <div><p>
      Τα στοιχεία τηρούνται στο πληροφοριακό σύστημα και ενημερώνονται από το προσωπικό της ΔΔΕ {% get_setting 'dide_place'  %}  με βάση την τρέχουσα νομοθεσία. Τα στοιχεία ενημερώνονται διαρκώς και η καρτέλα αυτή είναι διαθέσιμη μόνο για την δική σας ενημέρωση.
    </p></div>
  </div>
 	<h2>Περισσότερα στοιχεία</h2>
              {% for field in form %}
            <div class="form-row field-{{ field.html_name }}">
              <div>
                {{ field.errors }}
                <label  style="width:220px;" for="id_{{ field.html_name }}" {% if field.field.required %}class="required"{% endif %}>{{field.label}} : </label>
                {{ field  }}{% if field.label == "Email" %}<div>Πανελλήνιο Σχολικό Δίκτυο - <a target="_blank" href="http://register.sch.gr/teachers/">Εγγραφή</a></div>{% endif %}
{% if field.label == "ΑΜΑ ΙΚΑ ΕΤΑΜ" %}<div>Θα τον βρείτε στον ιστότοπο του ΙΚΑ - <a target="_blank" href="http://www.ika.gr/">www.ika.gr</a></div>{% endif %}
{% if field.label == "Α.Μ.Κ.Α." %}<div>Θα τον βρείτε στον ιστότοπο <a target="_blank" href="http://www.amka.gr/">www.amka.gr</a></div>{% endif %}
              </div>
           </div>
         {% endfor %}


          
      <br clear="both" />

    </fieldset>
  </form>
</div>

{% endblock %}
{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Το ιστορικό μου</h2>
        <h3>Άδειες</h3>
            <ul class="actionlist">
            {% for entry in leaves %}
            <li>{{entry.date_from}} - {% if entry.date_to %}{{entry.date_to}}{% endif %}: {{entry.leave}}</li>
            {% empty %}
            <li>Δεν βρέθηκαν άδειες</li>  
            {% endfor %}
            </ul>
        <h3>Θέσεις υπηρεσίας</h3>
            <ul class="actionlist">
            {% for entry in positions %}
            <li>{{entry.date_from}} - {% if entry.date_to %}{{entry.date_to}}{% endif %}: {{entry.organization}} ({{entry.type}})</li>
            {% empty %}
            <li>Δεν βρέθηκαν θέσεις υπηρεσίας</li>  
            {% endfor %}
            </ul>
	{% if responsibilities %}
        <h3>Θέσεις ευθύνης</h3>
            <ul class="actionlist">
            {% for entry in responsibilities %}
            <li>{{entry.date_from}} - {% if entry.date_to %}{{entry.date_to}}{% endif %}: {{entry.responsibility}} (Αρ. Απόφ. {{entry.order}})</li>
            {% empty %}
            <li>Δεν βρέθηκαν θέσεις ευθύνης</li>  
            {% endfor %}
            </ul>
	{% endif %}
        <h3>Αιτήσεις</h3>
            <ul class="actionlist">
            {% for entry in applications %}
            <li>{{entry.datetime_finalised}}: <a id="applicationprint" href="/applications/edit/{{entry.set_id}}/?print=1">{{entry.set}}</a></li>
            {% empty %}
            <li>Δεν βρέθηκαν ηλεκτρονικές αιτήσεις</li>  
            {% endfor %}
            </ul>
	    {% if service %}
        <h2>Βεβαίωση προϋπηρεσίας και απόλυσης</h2>
            <ul class="actionlist">
           
            <li><a href="?print_exp=1"> {{ emp.order }}</a></li>
             
           

            </ul>
	    {% endif %}
	{% if insurance %}
        <h2>Βεβαιώσεις εργοδότη</h2>
            <ul class="actionlist">
            {% for entry in insurance %}
            <li><a id="insuranceprint" href="?print_emp=1&f={{entry.id}}">{{entry.description}}</a></li>
            {% empty %}
            <li>Δεν βρέθηκαν βεβαιώσεις εργοδότη</li>  
            {% endfor %}
            </ul>
	 {% endif %}
            </div>
</div>
{% endblock %}
