{% extends "help/base.html" %}
{% load i18n admin_static %}
{% load base_site %}

{% block content %}
<div id="content">
        <h3>Έχω πρόβλημα να συνδεθώ με τον ΙΒΑΝ μου</h3>
	<p>Σε περίπτωση που δεν μπορείτε να συνδεθείτε με τον IBAN που διαθέτετε τότε είναι πολύ πιθανόν να έχει αλλάξει αυτόματα μετά από κάποια συγχώνευση τραπεζών. Αυτό δεν επηρεάζει την μισθοδοσία σας αλλά το σύστημα δεν έχει ενημερωθεί με τον καινούριο IBAN. Για να συνδεθείτε χρησιμοποιείστε τον παλιό σας IBAN ή επικοινωνήστε με την υπηρεσία μας για να ενημερώσουμε το σύστημα με τον καινούργιο. </p> 
	<p><a href="javascript:close();">Κλείσιμο παραθύρου</a></p>
</div>
{% endblock %}
