{% load admin_static %}{% load url from future %}
{% load base_site %}<!DOCTYPE html>
<html lang="" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% block bodyclass %}dashboard{% endblock %}">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Δ.Δ.Ε. {% get_setting 'dide_place'  %} </h1>
        </div>
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
        Καλωσορίσατε στο πληροφοριακό σύστημα της Δ.Δ.Ε. {% get_setting 'dide_place'  %}
    </div>
    {% endblock %}
    {% block messages %} {% endblock  %}
    <!-- Content -->
    <div id="content" class="{% block coltype %}colMS{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div id="content-related"></div>
    {% block footer %}<div id="footer"  class="" style="position: absolute; bottom: 0;">
    <p class="tiny">Κατασκευή 2012 Στάθης Στέργου, Βασίλης Κασαπίδης (Μισθοδοσία) </p>
    </div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
