{% extends "menu/base.html" %}
{% load i18n admin_static %}
{% load base_site %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
{% endblock %}
{% block title %}
Δ.Δ.Ε. {% get_setting 'dide_place'  %}
{% endblock %}
    {% block messages %}
{% if messages %}
        <ul class="messagelist">{% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message}}</li>{% endfor %}</ul>
    {% endif %}
    {% endblock  %}


{% block content %}

  
  <div id="content-main">                                                
    <div class="module" style="margin-bottom:20px">
        <table summary="Διαχείριση">
        <caption><a href="/" class="section">Διαχείριση</a></caption>

            <tbody><tr>

                <th scope="row"><a href="admin/">Προσωπικό Δ.Δ.Ε. {% get_setting 'dide_place'  %}</a></th>
                <td></td>
                <td></td>

            </tr>
        </tbody></table>
        </div>
    <div class="module" style="margin-bottom:20px">
        <table summary="Μισθοδοσία">
        <caption><a href="/" class="section">Εκπαιδευτικοί</a></caption>

            <tbody>
            <tr>

                <th scope="row"><a href="salary/view/">Μισθοδοσία Δ.Δ.Ε. {% get_setting 'dide_place'  %}</a></th>
                <td></td>
                <td></td>

            </tr>
            <tr>

                <th scope="row"><a href="myinfo/edit">Τα στοιχεία μου στην Δ.Δ.Ε. {% get_setting 'dide_place'  %}</a></th>
                <td></td>
                <td></td>

            </tr>

        </tbody></table>
        </div>
        <div class="module" style="margin-bottom:20px">
        <table summary="Αιτήσεις">
        <caption><a href="/" class="section">Αιτήσεις</a></caption>

            <tbody>
        {% for a in app %}
            <tr>

                <th scope="row"><a title="{{ a.title }}" href="applications/edit/{{ a.id }}/">{{ a.name }}</a></th>
                <td><span title="Από:">Από {{ a.start_date }}</span></td>
                <td><span title="Εως:">εως {{ a.end_date }}</span></td>

            </tr>
        {% empty %}
            <tr>

                <th scope="row">Δεν υπάρχουν αιτήσεις</th>
                <td></td>
                <td></td>

            </tr>
        {% endfor %}




        </tbody></table>
        </div>
      </div>

{% endblock %}
{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>Πληροφορίες</h2>
<p>Στο πληροφοριακό σύστημα της Δ.Δ.Ε. {% get_setting 'dide_place'  %} προσφέρονται οι παρακάτω υπηρεσίες για τους εκπαιδευτικούς, μόνιμους και αναπληρωτές:</p> 


<h3>Μισθοδοσία Δ.Δ.Ε. {% get_setting 'dide_place'  %}</h3>
<p>Στην επιλογή “Μισθοδοσία Δ.Δ.Ε. {% get_setting 'dide_place'  %}” μπορείτε να ενημερωθείτε για την μισθοδοσία σας, για κάθε μήνα, άλλα και να εκδόσετε την ετήσια συγκεντρωτική μισθοδοτική κατάσταση για την φορολογική σας δήλωση (διαθέσιμη από το οικονομικό έτος 2013). Συμβουλευτείτε τις συχνές ερωτήσεις αφού συνδεθείτε για πιθανές απορίες.</p> 

<h3>Τα στοιχεία μου στην Δ.Δ.Ε. {% get_setting 'dide_place'  %}</h3>
<p>Στην επιλογή αυτή έχετε την δυνατότητα να ενημερώσετε κάποια από τα στοιχεία του φακέλου σας του τηρείται στην υπηρεσία. Μερικά από τα στοιχεία που μπορείτε να τροποποιήσετε περιλαμβάνουν την διεύθυνση κατοικίας σας, τον αριθμό τηλεφώνου σας, την διεύθυνση ηλεκτρονικού ταχυδρομείου σας κ.α. Στην περίπτωση που έχετε καταχωρήσει μια διεύθυνση ηλεκτρονικού ταχυδρομείου, το σύστημα σας ενημερώνει στην διεύθυνση αυτή για της αλλαγές που πραγματοποιείτε.</p>  
<p>Επιπλέον μπορείτε να ενημερωθείτε για τις άδειες που έχετε πάρει (κάθε είδους) αλλά και για τις υπηρεσιακές μεταβολές σας (αποσπάσεις και τοποθετήσεις) κατά την διάρκεια της υπηρεσίας σας στην Δ.Δ.Ε. {% get_setting 'dide_place'  %}.</p>

<h3>Ομάδα “Αιτήσεις”</h3>
<p>Με την επιλογή αυτή έχετε την δυνατότητα να καταχωρείτε με την βοήθεια ηλεκτρονικών αιτήσεων τις επιλογές σας για μεταθέσεις, αποσπάσεις ή τοποθετήσεις. Οι αιτήσεις ενεργοποιούνται από την υπηρεσία την περίοδο υποβολής τους. Σημειώνεται ότι η υπηρεσία αυτή είναι διαθέσιμη μόνο για το μόνιμο εκπαιδευτικό προσωπικό της Δ.Δ.Ε. {% get_setting 'dide_place'  %}.</p>

<p>Για την χρήση του συστήματος απαιτείται η ταυτοποίηση σας η οποία πραγματοποιείται με τον αριθμό μητρώου σας ή τον ΑΦΜ, το όνομά σας και τα 4 τελευταία ψηφία του αριθμού IBAN του λογαριασμού όπου κατατίθεται η μισθοδοσία σας.</p>  

<p>Η επιλογή “Προσωπικό Δ.Δ.Ε. {% get_setting 'dide_place'  %}” απευθύνεται στους διαχειριστές του συστήματος.</p>   

<p>Μπορείτε να στέλνετε τις προτάσεις και τα σχόλια σας στην ηλεκτρονική διεύθυνση <a href="mailto:ictdep@dide.dod.sch.gr">ictdep@dide.dod.sch.gr</a>. Ελπίζουμε πως θα βρείτε χρήσιμες τις παρεχόμενες υπηρεσίες και να τις αξιοποιήσετε με ορθό τρόπο συμβάλλοντας έτσι στην καταπολέμηση της γραφειοκρατίας.</p>            
            </div>
</div>
{% endblock %}
